.card-items{
    border: .13em solid #1b3675;
    border-radius: 28px;
    height: 365px;
    width: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.card-items p, h3{margin: 0;}

.plano{margin: 0 3px;}

.nome-plano{
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #082341;
}

.descricao{
    font-weight: 600;
    font-size: 13px;
}

.precos{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.preco{
    color: #2365A7;
    font-weight: 600;
    font-size: 19px;
    line-height: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.button-contratar::before{
    transform: scaleX(0);
    transform-origin: bottom left;
}

.button-contratar:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button-contratar::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgba(33, 177, 255, 0.8);
    border-radius: 4px;
    z-index: -1;
    transition: transform .3s ease;
}

.button-contratar{
    height: 35px;
    width: 110px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 4px;
    cursor: pointer;

    border: 2px solid rgba(33, 177, 255, 0.8);
    border-radius: 6px;
}


